.titulo-modal{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 22px;
    width: 100%;
}

.label-documentos{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.grid-documentos{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 0px 20px 15px;
    color: #D32F2F;

}

.label-subtitulo-incorrecto{
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

.label-peso-registrado{
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    color: #D32F2F;
}

.label-texto-incorrecto{
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 10px;
}