.detalle-card {
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px;
    
}

.detalle-item{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.detalle-label{
    font-size: 20px;
}

.detalle-resultado{
    font-size: 18px;
}

.grid-volver{
    display: flex;
    position: relative;
    bottom: 0;
}

.button-volver{
    background-color: #EF6C00;
    
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
}

.css-vkah-MuiButtonBase-root-MuiButton-root:hover.button-volver{
    background-color: #EF6C00;
}