.topBarLogin {
    position: relative;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #D32F2F;
}

.logoRed{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.iniciarSesion {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.iniciarSesionText {
    font-size: 30px;
    font-weight: bold;
}

.datos {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.datos-titulo {
    font-size: 20px;
    margin-bottom: 8px;
}

.datos-clave {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.datos-digito {
    width: 60px;
}

.button-inicio{
    margin-left: 20px;
    margin-right: 20px;
}

.button-login {
    height: 40px;
    width: 100%;
    margin-top: 25px;    
    font-size: 20px;
    font-weight: lighter;
}

.mensaje-error{
    display: flex;
    position: static;
    margin: 10px 0px;
    justify-content: center;
    width: 100%;
    padding: 8px 20px;
    border: 2px solid #EF6C00;
    border-radius: 5px;
    color: #EF6C00;
    background-color: #EF6C0033;
    
}

.textfield-dni{
    font-size: 24px;
}

.textfield-contrasena{
    font-size: 24px;
}