.qrpesaje-grid{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.qrpesaje-component{
    position: relative;
    display: flex;
    width: 100%;
}

.grid-button-resultados{
    display: flex;
    position: relative;
}

.button-resultados{
    font-size: 20px;
    font-weight: normal;
    width: 100%;
}